body{
    background-color: #121212;

    font-family: Roboto, Helvetica, sans-serif;
}
#titlebar h1{
    font-family: Roboto, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 25px;
    color: #FFFFFF;
}
.textbox p{
    font-family: Roboto, Helvetica, sans-serif;
    text-align: justify;
    margin-right: 35%;
    margin-left: 5%;
    color: #FFFFFF;
}
body h1{
    color: white;
    text-align: center;
}