body{
    background-color: #121212;

}
h1{
    color: white;
    text-align: center;
    font-family: Roboto, Helvetica, sans-serif;
    font-weight: bold;
}
h2{
    color: white;
    text-align: left;
    font-family: Roboto, Helvetica, sans-serif;
    font-weight: bold;
}

#map {
    height: 600px;
    width: 100%;
}
p{
    font-family: Roboto, Helvetica, sans-serif;
}
a{
    font-family: Roboto, Helvetica, sans-serif;
}


#map a:hover{
    color: #222222;
    text-decoration: none;
}

.popup-image {
    width: 200px;
    height: auto;
}

#main_bar{
    text-align: center;
    margin-top: 0;
    padding-top: -50px;
}
#main_bar a{
    padding-left: 2%;
    padding-right: 2%;

}
a:link, a:visited{
    text-decoration: none;
    color: aqua;
    /*Add underline*/

}
a:hover{
    text-decoration: underline;
    color: #00BBFF;
}

.leaflet-control a:link{
    color: black;
}
.leaflet-popup-content a:link, .leaflet-popup-content a:visited{
    color: #00BBFF;
}
.leaflet-popup-content a:hover{
    color: #0088FF;
    text-decoration: underline;
}

.leaflet-popup-content{
}


.fade-in{
    -webkit-animation: fade-in 3s;
    -moz-animation: fade-in 3s;
    -o-animation: fade-in 3s;
    animation: fade-in 3s;

}
@keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
