#header{
    padding-top: 50px;
    text-align: center;
}

#header h1{
    font-size: 3em;
}
#header h2{
    font-size: 1.5em;
    text-align: center;
}
#textbox{
    padding-left: 50px;
    width: 30%;
}
#textbox p{
    color: white;
    font-family: Roboto, serif;
    text-justify: inter-word;
}
#button_box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

button {
    background-color: #04AA6D;
    color: white;
    padding: 15px 30px;
    border-radius: 20px;
    font-size: 16px;
    margin: 10px;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #038754;
}


#image_box img{
    width: 36%;
    height: auto;
    align-content: center;
    margin: auto;
    display: block;
}
#image_box{
    align-content: center;
    margin: auto;
    display: block;
}
